body {
	background: #AF875A;
	background-image: url(graphics/woodgrain.svg);
	background-size: 100vw;
}

.container {
	margin-top: 3%;
}

.row {
	min-height: 85vh;
}

@media (min-width: 1200px) {
    .container{
        max-width: 80vw;
    }
}

