body {
	background: #0E1C23;
}

a {
	color: #5EA3A0;
}

a:hover {
	color: #FFF9DD;
	text-decoration: none;
}

/*font color is creme for devices smaller than large 
and non-hover devices; active/hover font is blue*/
@media (max-width: 991.98px) {
	a{color:#FFF9DD;}
	a:hover{color:#5EA3A0;}
}

@media (any-hover: none) {
	a{color:#FFF9DD;}
	a:active{color:#5EA3A0;}
}