/*class for debugging*/
.outline {
	border: 2px solid black;
}

body {
	padding: 0;
	margin: 0;
}

/* for links in the body*/
a {
	color: #2B848B;
}

a:hover {
	color: #2B848B;
}

/*--------------------------*/
/* NAVBAR */

.nav-link,
.navbar-brand {
	cursor: pointer;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-brand {
	width:350px;
}

.nav-link {
	margin-right: 1em !important;
	color: #10232D;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 112%;
}

.nav-link:hover {
	color: #FFF9DD;
}

a.nav-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #FFF9DD;
	transition: width .3s;
}

a.nav-link:hover::after {
	width: 100%;
}

.current {
	color: #FFF9DD;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #FAF8F2;
	border-radius: 0px;
	border: none;
}

.dropdown-item:first-child, .dropdown-item:last-child {
	border-radius: 0rem;
}

.navbar-nav > li > .dropdown-menu > a:hover,
.navbar-nav > li > .dropdown-menu > a:focus {
	background-color: #b5b0a1;
	color: #FAF8F2;
}

/* NAVBAR MEDIA QUERIES */
/* for screens with medium width and lower, disable drop downmenu 
and resize navbar accordingly */

@media (max-width: 991.98px) {
	li.dropdown{display:none;}
}

/* phones (portrait & landscape) */
@media (max-width: 767.98px) {
	.navbar{padding-top:15px;}
	.navbar-brand{width:85vw;}
	.nav-link{font-size:4.8vw;}
}

/* portrait tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar{padding-top:40px;}
	.navbar-brand{width:75vw;}
	.nav-link{font-size:4vw;}
}

/* for anything "touchscreen" (aka mouse is not primary input), disable the 
dropdown menu and change hover to active (for the case of landscape tablets) */

@media (any-hover: none) {
	li.dropdown{display:none;}
	.nav-link:active{color: #FFF9DD;}
	.nav-link:hover{content:none;}
	a.nav-link::after{content:none;}
	a.nav-link:hover::after{content:none;}
}


/*--------------------------*/
/* LANDING PAGE */

.center {
	padding-top:30px;
	margin-right: auto;
	margin-left: auto;
	width: 550px;
}

nav.landing {
	padding-top:2%;
}

ul.landing {
	margin:auto;
	text-align:center;
	padding:0px;
	width:550px;
	list-style-type: none;
}

li.landing {
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 170%;
	margin: 20px;
}


/* LANDING PAGE MEDIA QUERIES */

/*extra padding and increased font for portrait phones*/
@media (max-width: 575.98px) and (any-hover:none) {
	div.landing{padding:13% 10% 3% 10%;}
	li.landing{font-size:150%;}
}

/*for screens with large & extra large width that support hover, 
nav is rotated to vertical*/
@media (min-width: 992px) and (any-hover: hover) {
	nav.landing{position:fixed;transform:rotate(90deg);top:53%;right:-200px;}
}





/*--------------------------*/
/* CONTACT PAGE */

#pen {
	margin-right:7%;
	width: 5.8%;
}

#note {
	width: 37%;
	position: relative;
}

#contact-title {
	position: absolute; 
	left: 10%; 
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

#contact-info {
	position: absolute; 
	left: 10%; 
	top: 27%; 
	right: 15%;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#bcpen {
	display: none;
}

#iphoneon {
	visibility:hidden;
}

#iphone:hover #iphoneon {
	visibility:visible;
}

#iphone:hover #iphoneoff {
	visibility:hidden;
}


/* CONTACT PAGE MEDIA QUERIES */
/* for screens with medium width and lower, hide unnecessary elements, 
reveal other elements, resize them accordingly */

@media (max-width: 991.98px) {
	#iphone{display:none;}
	#pen{display:none;}
}

/*portrait phones*/
@media (max-width: 575.98px) {
	#note{width:80%;}
	#contact-title{font-size:5.9vw;top:8%;}
	#contact-info{font-size:4.5vw;}
	#bcpen{display:block;width:85%;padding-top:5%;}
}

/*landscape phones*/
@media (min-width: 576px) {
	#note{width:75%;margin-top:25px;}
	#contact-title{font-size:210%;top:8%;}
	#contact-info{font-size:140%;}
	#bcpen{display:block;width:85%;padding-top:5%;}
}

/*tablets*/
@media (min-width: 768px) {
	#note{width:70%;}
	#contact-title{font-size:240%;top:8%;}
	#contact-info{font-size:175%;}
	#bcpen{display:block;width:85%;padding-top:5%;}
}

/* desktops */
@media (min-width: 992px) {
	#note{width:37%;margin-right:8%;margin-bottom:5%;margin-right:8%;}
	#contact-title{font-size:180%;top: 8%;}
	#contact-info{font-size:123%;}
	#bcpen{display:none;}
}

/*large desktops (horizontal navbar)*/
@media (min-width: 1200px) {
	#note{width:37%;margin-right:8%;margin-bottom:5%;margin-right:8%;}
	#contact-title{font-size:200%;top:8%;}
	#contact-info{font-size:145%;}
	#bcpen{display:none;}
}

/* for anything that is larger than a phone and is "touchscreen", 
hide unnecessary elements (for the case of landscape tablets) */

@media (any-hover: none) {
	#iphone{display:none;}
}

@media (any-hover: none) and (min-width: 992px) {
	#pen{width:6%;}
	#note{width:40%;}
	#contact-title{font-size:200%;top:8%;}
	#contact-info{font-size:135%;}
}

@media (any-hover: none) and (min-width: 1200px) {
	#pen{width:7%;}
	#note{width:45%;}
	#contact-title{font-size:260%;top:8%;}
	#contact-info{font-size:180%;}
}