body {
	background: #ad8351;
	background-image: url(../graphics/woodgrain.svg);
	background-size: 100vw;
}

.nav-link:hover {
	color: #FFF9DD;
}

.current {
	color: #FFF9DD;
}

.container {
	margin-top: 2.5%;
}

.row {
	min-height:85vh;
}

/*layout and sizing adjustments for HD screens*/
@media (min-width: 1200px) {
    .container{max-width:90vw;}
}

/*adjustment for wide viewports (ar > 1.896)*/
@media (min-aspect-ratio:256/135) and (min-width:992px) {
	.container{max-width:78vw;}
}

/*layout adjustment for landscape tablets*/
@media (any-hover:none) and (min-width:992px) and (orientation:landscape) {
	.row{min-height:75vh;}
}
