figure>img {
	max-width:85% !important;
	max-height:85% !important;
	margin-bottom:10%;
}

/*media queries for baguetteBox overrides*/
@media (max-width:575.98px) and (any-hover:none) {
	figcaption{font-size:80%;}
}

@media (max-width:575.98px) and (any-hover:hover) {
	figcaption{font-size:90%;}
}

@media (min-width:576px) and (any-hover:none) {
	figcaption{font-size:90%;line-height:1.3 !important;}
}

@media (min-width:576px) and (any-hover:hover) {
	figcaption{font-size:90%;}
}

@media (min-width:768px) {
	figcaption{font-size:100%;line-height:1.8 !important;}
}

@media (min-width:992px) {
	figure>img{margin-bottom:5%;}
}

@media (min-width:1200px) {
	figcaption{font-size:110%;}
}