figure>img {
	max-width:85% !important;
	max-height:85% !important;
}

/*media queries for baguetteBox overrides*/
@media (max-width:575.98px) and (any-hover:none) {
	figcaption{font-size:80%;padding:0% 4% 2% 4% !important;}
	figure>img{margin-top:-25%;}
}

@media (max-width:575.98px) and (any-hover:hover) {
	figcaption{font-size:90%;padding:0% 4% 4% 4% !important;}
	figure>img{margin-top:-27%;}
}

@media (min-width:576px) and (any-hover:none) {
	figcaption{font-size:90%;line-height:1.3 !important;padding:0% 2% 1% 2% !important;}
	figure>img{margin-top:-8%;max-width:75% !important;max-height:75% !important;}
}

@media (min-width:576px) and (any-hover:hover) {
	figcaption{font-size:90%;padding:0% 2% 2% 2% !important;}
	figure>img{margin-top:-10%;}
}

@media (min-width:768px) {
	figcaption{font-size:100%;line-height:1.8 !important;padding:0% 3% 2% 3% !important;}
	figure>img{margin-top:-10%;max-width:80% !important;max-height:80% !important;}
}

@media (min-width:992px) {
	figcaption{padding:0% 3% 2% 3% !important;}
	figure>img{margin-top:-8%;max-width:80% !important;max-height:80% !important;}
}

@media (min-width:1200px) {
	figcaption{font-size:110%;padding:0% 3% 1% 3% !important;}
	figure>img{margin-top:-5%;max-width:85% !important;max-height:85% !important;}
}