body {
	background: #EDE0C1;
}

.nav-link:hover {
	color: #29828A;
}

a.nav-link::after {
	background: #29828A;
}

.current {
	color: #29828A;
}

/*matches with the level of the container on landing page*/
.container {
	margin-top: 2.5%;
}

.row {
	min-height: 85vh;
}

/*layout and sizing adjustments for HD screens*/
@media (min-width: 1200px) {
    .container{max-width: 85vw;}
}

/*layout adjustments for landscape tablets*/
@media (any-hover:none) and (min-width:992px) and (orientation:landscape) {
	.container{margin-top:0%;}
}
