body {
	background: #f0e6d5;
}

.nav-link:hover {
	color: #29828A;
}

.current {
	color: #29828A;
}

.container {
	margin-top: 2.5%;
}


/*same row treatment for mobile as gallery pages*/
@media (max-width:575.98px) {
	.home{min-height:64vw;}
}

@media (min-width:576px) {
	.home{min-height:50vw;}
}

@media (min-width:768px) {
	.home{min-height:52vw;}
}

@media (min-width:992px) and (any-hover:none) {
	.home{min-height:38vw;}
}



/*row adjustment for desktop*/
@media (min-width:992px) and (any-hover:hover) {
	.row{min-height:85vh;}
}

/*layout and sizing adjustments for HD screens*/
@media (min-width: 1200px) {
    .container{max-width: 85vw;}
}

/*adjustment for wide viewports (ar > 1.896)*/
@media (min-aspect-ratio:256/135) and (min-width:992px) {
	.container{max-width:73vw;}
}
