body {
	background: #0E1C23;
	overflow-x:hidden;
}

a {
	color: #0E1C23;
}

a:hover {
	color: #FFF9DD;
	text-decoration: none;
}

/*custom bootstrap navbar and container styling for landing page*/
.nav-link {
	color: #FFF9DD;
}

.current {
	color: #5EA3A0;
}

.container {
	margin-top:2.5%;
}


/*layout and sizing adjustments for HD screens*/
@media (min-width: 1200px) {
    .container{max-width: 85vw;}
}


/*font color is creme for devices < large 
and non-hover devices; active/hover font is blue;
container is full width and top container has increased
margin; normal-home link is hidden; body has gradient background*/
@media (max-width: 991.98px) {
	a{color:#FFF9DD;}
	a:hover{color:#5EA3A0;}
	.container{min-width:100vw;}
	.top{margin-top:4%;}
	.normal-home{display:none;}
	body{background: rgb(14,28,35);}
	body{background: linear-gradient(180deg, rgba(14,28,35,1) 72%, rgba(245,229,203,1) 75%);}
}

@media (any-hover:none) {
	a{color:#FFF9DD;}
	a:hover{color:#5EA3A0;}
	.container{min-width:100vw;}
	.top{margin-top:4%;}
	.normal-home{display:none;}
	body{background: rgb(14,28,35);}
	body{background: linear-gradient(180deg, rgba(14,28,35,1) 72%, rgba(245,229,203,1) 75%);}
}

/*for xs to medium screens adjust home row size*/
@media (max-width: 991.98px) {
	.home{min-height:40vh !important;}
}

@media (min-width:576px) {
	.row{min-height: 85vh;}
}

/*for large touch screens, adjust row size*/
@media (any-hover: none) and (min-width: 992px)  {
	.top{margin-top:6%;}
	.row {min-height: 125vh;}
	.home{min-height:55vh !important;}
}

/*for large and extra large screens that support hover, 
change display of navbar*/
@media (min-width: 992px) and (any-hover:hover) {
	.navbar-brand{position:absolute;width:35vw;text-align:center;margin-left:auto;margin-right:auto;left:0;right:0;margin-top:3%;}
	.navbar-nav{position:absolute;writing-mode:vertical-lr;right:2%;padding:0;margin-top:18%;z-index:2;}
	.nav-link{font-size:1.9vw;margin:0.7em 0em !important;color:#0E1C23;}
	.container{margin-top:6.7%;}
}

@media (min-width: 1200px) and (any-hover:hover) {
	.navbar-brand{margin-top:2.5%;}
	.navbar-nav{margin-top:13%;}
	.container{margin-top:5.9%;}
}



/*adjustment for wide viewports (ar > 1.896)*/
@media (min-aspect-ratio:256/135) and (min-width:992px) {
	.container{max-width:73vw;}
	.navbar-nav{margin-top:10%;}
}



/*Firefox navbar positioning workaround*/
@-moz-document url-prefix() { 
	@media (max-width:921.98px) and (any-hover:hover) {
		.navbar-nav {
		     margin-top: 0%;
		  }
	}

	@media (min-width:922px) and (any-hover:hover) {
		.navbar-nav {
		     margin-top: 77%;
		  }
	}

	@media (min-width:1200px) and (any-hover:hover) {
		.navbar-nav {
		     margin-top: 65%;
		  }
	}

	@media (min-aspect-ratio:2/1) and (min-width:992px) {
	.navbar-nav{margin-top:55%;}
}
}
