#lightbeam {
    position:absolute;
    visibility:hidden;
    opacity:0.8;
    clip-path: inset(0% 0% 0% 11%);
}

@media (min-width: 992px) and (any-hover: hover) {
    #lightbeam{top:4%;right:0%;width:0%;border-top:370px solid transparent;border-right:1300px solid #EAD6B5;border-bottom:370px solid transparent;}
}