#lightcontainer {
    position:relative;
    width:10%;
}

#lightbeam {
    position:relative;
    opacity:0.8;
}

@media (min-width: 992px) and (any-hover: hover) {
    #lightbeam{border-top:290px solid transparent;border-right:1400px solid #EAD6B5;border-bottom:396px solid transparent;clip-path:inset(0vw 0vw 0vw 13vw);}
}

@media (min-width: 1200px) and (any-hover: hover) {
    #lightbeam{border-top:20vw solid transparent;border-right:95vw solid #EAD6B5;border-bottom:26vw solid transparent;clip-path:inset(0vw 0vw 0vw 13vw);}
}