/*color palette
landing background: #0E1C23
landing links desktop: #0E1C23; landing links desktop hover: #FFF9DD; landing links mobile: #FFF9DD; landing links mobile active: #5EA3A0;
home background: #EDE0C1
home links: #10232D
home links hover/active: #29828A
desk background: #AE875A
desk links: #10232D
desk links hover/active: #FFF9DD;
*/


/*class for debugging*/
.debug {
	border: 2px solid black;
}


body {
	padding: 0;
	margin: 0;
}

/*for links in the body*/
a {
	color: #2B848B;
}

a:hover {
	color: #2B848B;
}

audio {
	visibility: hidden;
}

hr {
	border-top:2px dashed rgba(0,0,0,.1);
	width:88%;
}


/*--------------------------*/
/* NAVBAR */


.nav-link,
.navbar-brand {
	cursor: pointer;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-brand {
	width:350px;
}

.nav-link {
	margin: 0em 0.6em !important;
	font-family: 'Montserrat', sans-serif;
	color: #10232D;
	font-weight: 500;
	font-size: 112%;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #FAF8F2;
	border-radius: 0px;
	border: none;
	padding: 0px;
}

.dropdown-item:first-child, .dropdown-item:last-child {
	border-radius: 0rem;
}

.navbar-nav > li > .dropdown-menu > a {
	padding: 0.5rem 1.5rem;
}


.navbar-nav > li > .dropdown-menu > a:hover,
.navbar-nav > li > .dropdown-menu > a:focus {
	background-color: #10232D;
	color: #FAF8F2;
}

/* NAVBAR MEDIA QUERIES */
/* for screens with medium width and lower, disable drop downmenu 
and resize navbar accordingly */

@media (max-width: 991.98px) {
	li.dropdown{display:none;}
}

/* phones (portrait & landscape) */
@media (max-width: 767.98px) {
	.navbar{padding-top:3%;}
	.navbar-brand{width:85vw;}
	.nav-link{font-size:4.8vw;}
}

/* portrait tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar{padding-top:30px;}
	.navbar-brand{width:75vw;}
	.nav-link{font-size:4vw;}
}

/* extra large screens */
@media (min-width: 1200px) {
	.navbar{padding-top:0.8%;}
	.navbar-brand{width:28vw;}
	.nav-link{font-size:1.5vw;}
	.dropdown-item{font-size:1.2vw;}
}

/* for anything that does not support hover, disable the 
dropdown menu, change hover to active*/

@media (any-hover: none) {
	li.dropdown{display:none;}
	.nav-link:active{color: #FFF9DD;}
}

/*for large and xl sized screens in portrait view that don't
support hover, adjust nav sizing*/
@media (min-width: 992px) and (any-hover:none) and (orientation:portrait) {
	.navbar{padding-top:1%;}
	.navbar-brand{width:36vw;}
	.nav-link{font-size:2vw;}
	.dropdown-item{font-size:1.2vw;}
}

/*for large and xl sized screens, add padding to logo*/
@media (min-width:992px) {
	.navbar-brand{padding-left:.5rem;}
}

/*when nav is flex-column, decrease space between logo and menu*/
@media (max-width:991.98px) {
	.navbar-collapse{margin-top:-1.3%;}
}



/*--------------------------*/
/* LANDING PAGE */


/*bootstrap navbar styling is in landing.css */

#darkwindow {
	position:relative;
	width:37%;
}

#darklamp {
	position:relative;
	width:16%;
	z-index:1;
}

.show {
  	visibility: visible;
}

.hide {
	visibility:hidden;
}

#darklamp:hover #st7 {
	visibility: visible;
}

#darklamp:hover {
	cursor: pointer;
}

#lightcontainer {
    position:relative;
    width:10%;
}

#lightbeam {
    position:relative;
    opacity:0.8;
    visibility:hidden;
}

/*lightbeam styling is in lightbeam.css*/


/* LANDING PAGE MEDIA QUERIES */

/*for screens with medium width and lower,
hide elements and resize other elements accordingly*/
@media (max-width: 991.98px) {
	#darklamp{display:none;}
	#darkwindow{width:80%;margin-top:8%;margin-bottom:5%;}
	#lightcontainer{display:none;}
	#lightbeam{display:none;}
}


/*for large & extra large screens that support hover, 
window,lamp, and lightbeam placement is set 
(negative margin on window allowsfor lamp to overlap it)*/
@media (min-width: 992px) and (any-hover: hover) {
	#darkwindow{left:2%;margin-bottom:11.2%;margin-right:-35%;}
	#darklamp{margin-top:12.5%;margin-right:-18%;}
	#lightbeam{border-top:290px solid transparent;border-right:1400px solid #EAD6B5;border-bottom:396px solid transparent;clip-path:inset(0vw 0vw 0vw 13vw);}
}

@media (min-width: 1200px) and (any-hover: hover) {
	#darkwindow{left:2%;margin-bottom:15%;margin-right:-35%;}
	#darklamp{margin-top:9%;margin-right:-18%;}
	#lightbeam{border-top:20vw solid transparent;border-right:95vw solid #EAD6B5;border-bottom:26vw solid transparent;clip-path:inset(0vw 0vw 0vw 13vw);}
}


/* for anything that is larger than phone & tablet and does not support hover, 
hide unnecessary elements and resize accordingly (aka landscape tablets) */
@media (any-hover: none) and (min-width: 992px) {
	#darklamp{display:none;}
	#lightcontainer{display:none;}
	#lightbeam{display:none;}
	#darkwindow{width:44%;margin-top:0%;margin-bottom:7%;margin-left:28%;}
}



/*--------------------------*/
/* HOME PAGE */

.hrhome{margin-top:5%;margin-bottom:5%;}

/* HOME PAGE MEDIA QUERIES */

/*for screens with medium width and lower,
hide elements and resize other elements accordingly*/
@media (max-width: 991.98px) {
	#window{display:none;}
	#lamp{display:none;}
	#postits{display:none;}
	#worldmap{display:none;}
	#mug{display:none;}
	#laptop{display:none;}
	#ipad{display:none;}
	#canvas{display:none;}
	#desk{display:none;}
	div.full{display:none;}

	#mobilelaptop{width:55%;}
	#mobileipad{width:38%;}
	#mobilecanvas{width:36%;margin-top:13%;margin-bottom:20%;}
}

@media (max-width: 575.98px) {
	#mobilelaptop{width:60%;}
	#mobileipad{width:43%;}
	#mobilecanvas{width:41%;}
}


/*for large & extra large screens that support hover, 
image placement is set
	- negative margin-right on images allows for the following image
	to be placed (the margin is usually -(width of following image))
*/

@media (any-hover: hover) and (min-width: 992px) {
	div.mobile{display:none;}

	#window{position:relative;width:37%;right:80%;margin-bottom:7%;margin-right:-35%}
	#lamp{position:relative;width:16%;margin-left:-82%;margin-top:17%;margin-right:-12%;z-index:1;}
	#postits{position:relative;width:12%;left:35%;margin-bottom:25%;margin-right:-40%;}
	#worldmap{position:relative;width:40%;left:80%;margin-bottom:25%;margin-right:-8%;}
	#mug{position:relative;width:8%;left:2%;margin-top:37.8%;margin-right:-39%;}
	#laptop{position:relative;width:39%;left:43%;margin-top:24.6%;margin-right:-20%;}
	#ipad{position:relative;width:20%;left:64%;margin-top:33.8%;margin-right:-27%;z-index: 1;}
	#canvas{position:relative;width:27%;left:81%;margin-top:6.9%;margin-right:-100%;}
	#desk{position:relative;left:82%;width:100%;margin-top:49.2%;}

	#on{visibility:hidden;}
	#laptopspace:hover #on{visibility:visible;}
	#ipadon{visibility:hidden;}
	#ipadspace:hover #ipadon{visibility:visible;}
	#art{visibility:hidden;opacity:0;transition:opacity 0.1s linear;}
	#canvasspace:hover #art{visibility:visible;opacity:1;}

}

/* for anything that is larger than a phone and is "touchscreen", 
hide unnecessary elements (for the case of landscape tablets) */

@media (any-hover:none) and (min-width:992px) {
	#window{display:none;}
	#lamp{display:none;}
	#postits{display:none;}
	#worldmap{display:none;}
	#mug{display:none;}
	#laptop{display:none;}
	#ipad{display:none;}
	#canvas{display:none;}
	#desk{display:none;}
	div.full{display:none;}

	#mobilelaptop{width:45%;}
	#mobileipad{width:28%;}
	#mobilecanvas{width:26%;margin-top:10%;margin-bottom:20%;}

	.hrhome{width:92%;}
}



/*--------------------------*/
/* GALLERY PAGES */

.next {
	position:absolute;
	font-size:300%;
}

.prev {
	position:absolute;
	font-size:300%;
}

.next a:hover {
	text-decoration:none !important;
}

.prev a:hover {
	text-decoration:none !important;
}

.hrgallery{margin-top:5%;margin-bottom:10%;width:100%;}

.img-fluid {
	background-color:#29828A;
}

/* GALLERY PAGES MEDIA QUERIES */

/*for screens with medium width and lower,
adjust top image size and hr spacing*/

@media (max-width:575.98px) {
	#gallerylaptop{width:60%;}
	#galleryipad{width:43%;}
	#gallerycanvas{width:41%;}

	.next{right:10%;}
	.prev{left:10%;}
}

@media (min-width:576px) and (any-hover:hover) {
	#gallerylaptop{width:55%;}
	#galleryipad{width:38%;}
	#gallerycanvas{width:36%;}

	.next{right:18%;}
	.prev{left:18%;}
}

@media (min-width:576px) and (any-hover:none) {
	#gallerylaptop{width:55%;}
	#galleryipad{width:38%;}
	#gallerycanvas{width:36%;}

	.next{right:18%;}
	.prev{left:18%;}
}

@media (min-width:768px) and (any-hover:hover) {
	.next{right:14%;}
	.prev{left:14%;}
}

@media (min-width:768px) and (any-hover:none) {
	.next{right:11%;}
	.prev{left:11%;}
}

@media (min-width:992px) and (any-hover:hover) {
	#gallerylaptop{width:27%;}
	#galleryipad{width:20%;}
	#gallerycanvas{width:16%;}

	.hrgallery{margin-top:3%;margin-bottom:5%;}

	.next{display:none;}
	.prev{display:none;}
}

@media (min-width:992px) and (any-hover:none) {
	#gallerylaptop{width:45%;}
	#galleryipad{width:28%;}
	#gallerycanvas{width:26%;}

	.hrgallery{margin-top:5%;margin-bottom:5%;}

	.next{right:23%;}
	.prev{left:23%;}
}



/*--------------------------*/
/* ABOUT PAGE */

#pagetitle, #mobilepagetitle {
	position: absolute;
	font-family:'Montserrat', sans-serif;
	font-weight:600;
}

#pageinfo, #mobilepageinfo {
	position: absolute;
	font-family:'Roboto', sans-serif;
	font-weight:400;
}

#pagenumber, #mobilepagenumber {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.quote {
	padding-left:13%;
	font-weight:500;
}

#replayarrow, #mreplayarrow {
	visibility: hidden;
}

#arrowspace, #marrowspace {
	cursor: pointer;
}


/* ABOUT PAGE MEDIA QUERIES */

/*for screens with medium width and lower,
hide normal images and set placement for mobile images*/
@media (max-width:991.98px) {
	#file{display:none;}
	#paperclip{display:none;}
	#photograph{display:none;}
	#page{display:none;}

	#mobilephotograph{position:relative;width:50%;margin-top:8%;margin-right:-10%;margin-left:7%;}
	#mobilepaperclip{position:relative;width:10%;left:15%;margin-bottom:35%;margin-right:-15%;}
	#binderclip{position:relative;width:15%;right:57%;margin-right:11%;margin-top:20%;}
	#mobilefile{width:100%;margin-top:15%;margin-bottom:15%;margin-right:-63%;}
	#mobilepage{position:relative;width:63%;right:22%;}
}

@media (max-width:575.98px) {

	#mobilephotograph{margin-left:10%;}
	#mobilefile{width:95%;margin-right:-63%;margin-bottom:5%;}

	#mobilepage{width:63%;right:20.5%;margin-top:-112%;}
	#mobilepagetitle{font-size:5.7vw;}
	#mobilepageinfo{line-height:1.3;font-size:4.3vw;margin-top:18%;}
	#mobilepagenumber{font-size:4.3vw;margin-top:179%;}
}

@media (min-width:576px) {
	#mobilepage{margin-top:-125%;}
	#mobilepagetitle{font-size:180%;}
	#mobilepageinfo{line-height:1.3;font-size:145%;margin-top:18%;}
	#mobilepagenumber{font-size:145%;margin-top:183%;}
}

@media (min-width:768px) {
	#mobilepage{margin-top:-125%;}
	#mobilepagetitle{font-size:260%;}
	#mobilepageinfo{line-height:1.3;font-size:185%;margin-top:18%;}
	#mobilepagenumber{font-size:185%;margin-top:183%;}
}

/*for large & xl screens that support hover,
normal image placement is set and mobile images are hidden
*/
@media (min-width:992px) and (any-hover:hover) {
	#file{position:relative;width:100%;margin-right:-20%;}
	#photograph{position:relative;width:20%;right:57%;margin-bottom:22%;margin-right:-2%;}
	#paperclip{position:relative;width:2%;right:73%;margin-bottom:40.7%;margin-right:-25.5%;}
	#page{position:relative;width:25.5%;right:17.8%;margin-top:-42%;}

	#mobilepaperclip{display:none;}
	#binderclip{display:none;}
	#mobilefile{display:none;}
	#mobilephotograph{display:none;}
	#mobilepage{display:none;}

	#pagetitle{font-size:120%;}
	#pageinfo{line-height:1.4;font-size:92.5%;margin-top:15%;}
	#pagenumber{font-size:92.5%;margin-top:152%;}
}

@media (min-width:1200px) and (any-hover:hover) {
	#pagetitle{font-size:1.9vw;}
	#pageinfo{line-height:1.4;font-size:1.35vw;margin-top:15%;}
	#pagenumber{font-size:1.4vw;margin-top:152%;}
}

/*landscape tablets*/
@media (min-width:992px) and (any-hover:none) and (orientation:landscape) {
	#file{position:relative;width:100%;margin-right:-20%;}
	#photograph{position:relative;width:20%;right:57%;margin-bottom:22%;margin-right:-2%;}
	#paperclip{position:relative;width:2%;right:73%;margin-bottom:40.7%;margin-right:-25.5%;}
	#page{position:relative;width:25.5%;right:17.8%;margin-top:-42%;}

	#mobilepaperclip{display:none;}
	#binderclip{display:none;}
	#mobilefile{display:none;}
	#mobilephotograph{display:none;}
	#mobilepage{display:none;}

	#pagetitle{font-size:120%;}
	#pageinfo{line-height:1.3;font-size:91%;margin-top:15%;}
	#pagenumber{font-size:91%;margin-top:152%;}
}

@media (min-width:1200px) and (any-hover:none) and (orientation:landscape) {
	#pagetitle{font-size:150%;}
	#pageinfo{font-size:100%;margin-top:15%;}
	#pagenumber{font-size:100%;margin-top:150%;}
}

/*for large and xl sized screens in portrait view that don't
support hover (ex. iPad pro)*/
@media (min-width: 992px) and (any-hover:none) and (orientation:portrait) {
	#file{display:none;}
	#paperclip{display:none;}
	#photograph{display:none;}
	#page{display:none;}

	#mobilephotograph{position:relative;width:40%;margin-top:8%;margin-right:-10%;margin-left:18%;}
	#mobilepaperclip{position:relative;width:10%;left:15%;margin-bottom:20%;margin-right:-15%;}
	#binderclip{position:relative;width:15%;right:50%;margin-right:20%;margin-top:20%;}
	#mobilefile{width:90%;margin-top:13%;margin-bottom:15%;margin-right:-64%;}
	#mobilepage{position:relative;width:64%;right:22%;margin-top:-125%;}

	#mobilepagetitle{font-size:260%;}
	#mobilepageinfo{line-height:1.3;font-size:185%;margin-top:18%;}
	#mobilepagenumber{font-size:185%;margin-top:183%;}
}



/*--------------------------*/
/* CONTACT PAGE */

#pen {
	margin-right:7%;
	width: 5.8%;
}

#note {
	width: 37%;
	position: relative;
}

#contact-title {
	position: absolute; 
	left: 10%; 
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

#contact-info {
	position: absolute; 
	left: 10%; 
	top: 27%; 
	right: 15%;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#iphone {
	width:42%;
}

#bcpen {
	display: none;
}

#iphoneon {
	visibility:hidden;
}

#phonespace:hover #iphoneon {
	visibility:visible;
}

#phonespace:hover #iphoneoff {
	visibility:hidden;
}


/* CONTACT PAGE MEDIA QUERIES */

/* for screens with medium width and lower, hide unnecessary elements, 
reveal other elements, resize them accordingly */

@media (max-width: 991.98px) {
	#iphone{display:none;}
	#pen{display:none;}
	#note{margin-top:8%;}
	#bcpen{display:block;width:75vw;margin-top:10%;margin-bottom:10%;}
}

/*portrait phones*/
@media (max-width: 575.98px) {
	#note{width:77%;}
	#contact-title{font-size:5.8vw;top:8%;}
	#contact-info{font-size:4.2vw;}
	#bcpen{width:95vw;}
}

/*landscape phones*/
@media (min-width: 576px) {
	#note{width:75%;}
	#contact-title{font-size:210%;top:8%;}
	#contact-info{font-size:140%;}
}

/*tablets*/
@media (min-width: 768px) {
	#note{width:60%;}
	#contact-title{font-size:220%;top:8%;}
	#contact-info{font-size:150%;}
}

/* desktops */
@media (min-width: 992px) {
	#note{width:37%;margin-right:8%;margin-bottom:5%;}
	#contact-title{font-size:180%;top:8%;}
	#contact-info{font-size:123%;}
	#bcpen{display:none;}
}

/* large desktops */
@media (min-width: 1200px) {
	#pen{width:5.3%;}
	#note{width:33%;margin-right:8%;margin-bottom:5%;}
	#contact-title{font-size:2.3vw;top:8%;}
	#contact-info{font-size:1.6vw;}
	#iphone{width:38%;}
}

/* for anything that is larger than a phone and is "touchscreen", 
hide unnecessary elements (for the case of landscape tablets) */

@media (any-hover: none) {
	#iphone{display:none;}
}

@media (any-hover: none) and (min-width: 992px) {
	#pen{width:7%;}
	#note{width:45%;margin-top:3%;}
	#contact-title{font-size:220%;top:8%;}
	#contact-info{font-size:148%;}
}

@media (any-hover: none) and (min-width: 1200px) {
	#pen{width:7%;}
	#note{width:50%;}
	#contact-title{font-size:3.2vw;top:8%;}
	#contact-info{font-size:2.3vw;}
}

/*for large and xl sized screens in portrait view that don't
support hover, adjust layout and sizing (ex. iPad pro)*/
@media (min-width: 992px) and (any-hover:none) and (orientation:portrait) {
	#pen{display:none;}
	#note{width:60%;margin-bottom:0%;}
	#contact-title{font-size:4vw;top:8%;}
	#contact-info{font-size:3vw;}
	#bcpen{display:block;width:60vw;}
}